@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poiret+One&display=swap");

/* imported font families: "Poiret One", cursive; font-family: "Josefin Sans", sans-serif;    */
$mainAccent: #ed254e;
$secondaryAccent: #4f4db3;
$headFont:"Poiret One", cursive;
$contentFont:"Josefin Sans", sans-serif;

@mixin heading($special) {
  font-family: $headFont;
  color:$special;
  text-align: center;
  margin-top: 0px
}

@import "rules";
/* elements */

body {
  background-color: #465362;
  margin: 0px;
}

h1 {
  @include heading (blue)
  font-size: 3cm;
}

h3 {
  @include heading (purple)
  font-size: 2cm;
}

button {
  background-color: $mainAccent;
  color: #eccee7;
  border: $secondaryAccent 2px solid;
  padding: 15px;
}

button:hover {
  background-color: #4f4db3;
  color: #eccee7;
  border: #ed254e 2px solid;
  padding: 15px;
}

nav {
  padding: 1% 0% 1% 0%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f9dc5c;
  margin-bottom: 1%;

  a {
    font-weight: 700;
    color: $secondaryAccent;
    text-decoration: none;
  }

nav a:hover {
  color: #ed254e;
  text-decoration: none;
}

/* classes */
.content {
  font-family: "Josefin Sans", sans-serif;
  color: #011936;
  font-size: 1.1em;
  width: 70%;
  border-top: #f9dc5c 10px solid;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  padding: 0px 10px 0px 10px;
}

.inner {
  font-family: $contentFont;
  color: #011936;
  font-size: 1.1em;
  width: 60%;
  background-color: #eccee7;
  border-top: $mainAccent 10px solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
}

.inner2 {
  @extend .inner;
  border-bottom: $secondaryAccent 10px solid;
}
